*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/*Botão principal*/
.btn > button{
  background-color: darkblue;
  width: 200px;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.btn > button:hover {
  background-color:rgb(255, 174, 24) ;
  transition: .3s;
}

/*Configurações do modal*/

.janela-modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.432);
  z-index: 999;
}

.janela-modal.open {
  display: flex;
}

.modal > h1 {
  text-align: center;
}

.modal {
  max-width: 100%;
  width: 500px;
  background-color: #ffffff7f;
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 10px;
}

/*Botão de encerramento do modal*/

.fechar {
  position: absolute;
  top: -0.5px;
  right: -1px;
  border-bottom-left-radius: 10px;
  border: none;
  background-color: red;
  color: white;
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
}